*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.logo img{
    height: 120px;
}

.logo span{
    vertical-align: middle;
    font-size: 40px;
}

main{
    background-color: #7fffd4;
    height: 80%;
}

