*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.logo img{
    height: 120px;
}

.logo span{
    vertical-align: middle;
    font-size: 40px;
}

main{
    background-color: #7fffd4;
    height: 80%;
}


#griglia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.quadrato{
    border: 1px solid black;
    width: calc(100% / 10);
    aspect-ratio: 1/1;
}

.active{
    background-color: violet;
    color: white;
}